sudo: true
language: haskell

git:
  depth: 5

cabal: "head"

cache:
  directories:
  - "$HOME/.cabal/store"
  - "$HOME/.stack"
  - "$TRAVIS_BUILD_DIR/.stack-work"

matrix:
  include:
  - ghc: 8.6.3

  - ghc: 8.6.3
    env: STACK_YAML="$TRAVIS_BUILD_DIR/stack.yaml" DEPLOY=yes

  - os: osx
    env: GHC=8.6.3 STACK_YAML="$TRAVIS_BUILD_DIR/stack.yaml" DEPLOY=yes

install:
  - |
    if [ -z "$STACK_YAML" ]; then
      cabal new-update
      cabal new-build --enable-tests --enable-benchmarks
    else
      curl -sSL https://get.haskellstack.org/ | sh
      stack --version
      if [ "$TRAVIS_OS_NAME" = osx ]; then
        stack build --test --no-run-tests --bench --no-run-benchmarks
      else
        stack build --system-ghc --test --no-run-tests --bench --no-run-benchmarks
      fi
    fi

script:
  - |
    if [ -z "$STACK_YAML" ]; then
       echo 'No tests'
    else
      if [ "$TRAVIS_OS_NAME" = osx ]; then
        stack test --no-terminal
      else
        stack test --system-ghc --no-terminal
      fi
    fi

  # HLint check
  - curl https://raw.githubusercontent.com/kowainik/relude/988bbdd3a09df1159917012933780523644880e5/.hlint.yaml -o .hlint-relude.yaml
  - curl -sSL https://raw.github.com/ndmitchell/neil/master/misc/travis.sh | sh -s -- hlint -h .hlint-relude.yaml src/

after_success:
  - |
    if [ "$DEPLOY" = "yes" ]; then
      echo "hit deploy triggered!"
      mv "$(stack path --system-ghc --local-install-root)/bin/hit" "hit-${TRAVIS_OS_NAME}"
      chmod +x "hit-${TRAVIS_OS_NAME}"
      git tag "$(date +'%Y%m%d%H%M%S')"
    fi

deploy:
  - skip_cleanup: true
    provider: releases
    api_key:
      secure: "tnHKO0a3SDSPji1blmL4YGmcvd9ukJVWQIN0opYlz33igSbrtxpBn+P4XIE7epfT4P/2303rZzurbPIqus1EhxR8/6bvMGW1HCagk0ApjYnpPN0FMcVVmnbwhpyYSa9c+UiWI0EwaKwBuAklqQ8qSvx85NcqwCV6fcOeHkGyvuT9Ng90k5ctJ7iexggs6Efv1EY2MrdCNnTOuI8T/prex70RpyflZXEgysIpUFu9+E56rD34oW7eLOUhpqYlh4/husVJnEpRmSeipCKHb7f5/pLv5xmvhuoYChhWTCK7Xdq/9fraA/JA7A0OvaJ+f+j2OOvkMaPJO4gwf3/MJAHfOVNb/bXWoVb6+C4ZL94pYQgqD2/UMwPkcMZUQcZzw6XS3Iz+KnLtGOcESEUrDE7oy2L44hNCSBK9FnDLasXcbqZT1LivAz4IkY3BUKx4rZ+LFRIILeA6uixBadXn3ALU63tJNu0fUW4Bp7U39RQzWlhVZ880LbZDcBVXiXWusR0vTt0y9Do3d8lpEeOXr+WASRLfZSpCWxY7xQwtGOr1LLi9GP2b89tupIVv4aF/kIVFPYpQ+l73diexuqfF/CLuwVW3V6r0I67D1n9WZ/k7IQu1Ty0aMMaUAMzmkKzxAok+aXLo0GENO7LqmsPuXgZnq3YiooNNYsD2nkhyfpDtn1g="
    file:
      - "hit-${TRAVIS_OS_NAME}"
    on:
      repo: kowainik/hit-on
      tags: true
      condition: $DEPLOY = yes

notifications:
  email: false
